@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1>호떡 봇이 사용할 권한이 필요합니다.</h1>
    <h4>-채널 에디트 권한</h4>
    <h4>-스트리머 계정</h4>
    <a class="btn btn-warning" asp-controller="Login" asp-action="Login">트위치 아이디로 로그인하기</a>
</div>