@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var entry_status = TempData["entry_status"] as string;
}


<div class="text-center">
    <h1>호떡이 채널 입장</h1>
    <h3>현재 호떡이가 채널에 안들어가고 놀고 있어요.</h3>

    <form id="frm" asp-controller="ChatBot" asp-action="ChatBotStart" method="GET">
        <button type="submit" id="channel_button" class="btn btn-primary">입장시키려면 클릭!</button>
    </form>

    <h6 style="margin-top:100px;">호떡이 이용방법</h6>

    <ul>
        <li>1. 위의 입장버튼을 누른다.</li>
        <li>2. 트위치 채널창에서 관리자 권한을 줍니다.</li>
        <li>/mod dada4202</li>
    </ul>

    <h4 style="color:dimgray">트위치의 기본적인 채팅 제한 문제와 기능 동작을 위해 빵떡이에게 매니저를 줘야 합니다.</h4>
</div>

<script>

    window.onload = function () {
    var button = document.getElementById("channel_button");
    var frm = document.getElementById("frm");

    var entry_status = "@entry_status";

        if (entry_status == "start") {
            button.innerHTML = "퇴장시키려면 클릭!";
            button.className = "btn btn-danger";
            frm.action = "/ChatBot/ChatBotStop"
        }

        if (entry_status == "stop") {
            button.innerHTML = "입장시키려면 클릭!";
            button.className = "btn btn-primary";
            frm.action = "/ChatBot/ChatBotStart"
        }
    }

@*    button.addEventListener("click", function (e) {

        //e.preventDefault(); //a태그 기본동작 막기
        //console.log("test");

        if (entry_status == "") {
            frm.submit();
        }


        frm.submit();
    });*@
</script>