@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <h1>호떡이 채널 입장</h1>
    <h3>현재 호떡이가 채널에 안들어가고 놀고 있어요.</h3>

    <a type="button" class="btn btn-primary" href="/ChatBot/ChatBotStart">입장시키려면 클릭!</a>

    <h6 style="margin-top:100px;">호떡이 이용방법</h6>

    <ul>
        <li>1. 위의 입장버튼을 누른다.</li>
        <li>2. 트위치 채널창에서 관리자 권한을 줍니다.</li>
        <li>/mod dada4202</li>
    </ul>

    <h4 style="color:dimgray">트위치의 기본적인 채팅 제한 문제와 기능 동작을 위해 빵떡이에게 매니저를 줘야 합니다.</h4>
</div>

<script>

</script>